.carousel-container {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}
.carousel {
  display: flex;
  width: 300vw;
  animation: sliding 10s infinite;
}

.carousel > div {
  width: 100vw;
  height: 80vh;

  background-size: cover;
  background-position: center;
}

.carousel:hover {
  animation-play-state: paused;
}
.image-one {
  background-image: url("../images/image 2.jpg");
}

.image-two {
  background-image: url("../images/image3.jpg");
}

.image-three {
  background-image: url("../images/image.jpg");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-100vw);
  }
  65% {
    transform: translateX(-100vw);
  }
  70% {
    transform: translateX(-200vw);
  }
  98% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  .carousel-container {
    width: 100vw;
  }
  .carousel > div {
    width: 100vw;
    height: 44vh;
  }
  .carousel-container {
    height: 44vh;
  }
}
