* {
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.75rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  --tw-backdrop-blur: blur(3px);
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 5%);
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.637);
}
.header {
  display: inline-block;
}
.navlinks {
  width: 70vw;
}

.navlinks > ul {
  display: flex;
  justify-content: space-around;
}
.navlinks > ul > li {
  list-style: none;
}
.navlinks > ul > li > a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding-left: 0;
    padding: 0.8rem 0;
    background-color: black;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    --tw-backdrop-blur: blur(0px);
  }

  .navlinks {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    --tw-backdrop-blur: blur(3px);
    top: 99px;
    width: 100vw;
    text-align: center;
    padding-bottom: 5vh;
  }
  .navlinks > ul {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
  }
  .navlinks > ul > li {
    margin: 12px 0;
    width: 100%;
  }
  .navlinks > ul > li > a {
    overflow: auto;
    font-size: 1.5rem;
  }

  .navlinks.show {
    display: block;
    /* height:70vh; */
  }
}
