.testimonials-section {
  background: url("../images/testiBack.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  padding: 50px 30px;
}

.testimonials-container {
  width: 80vw;
  margin: 0 auto;
  overflow-x: hidden;
}
.testmonials {
  width: 240vw;
  display: flex;
  flex-direction: row;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  width: 100%;
  animation: slide-testimonials 10s infinite;
}

.testimonial-box h1 {
  margin-top: 20px;
}
@keyframes slide-testimonials {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-80vw);
  }
  65% {
    transform: translateX(-80vw);
  }
  70% {
    transform: translateX(-160vw);
  }
  98% {
    transform: translateX(-160vw);
  }
  100% {
    transform: translateX(0);
  }
}
