#trial {
  z-index: -2;
  background: rgb(0, 0, 0, 0.8) url(../images/deliveryfas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100vw;
}
