* {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
}

html {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  scroll-behavior: smooth;
}

/* Set html css */
html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: max-content;
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

.head {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 15px;
  border-radius: 30px;
}


::-webkit-scrollbar-thumb {
  background: #908f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555454;
}

/* Intro Section */
.intro {
  background: url("../public/images/hero.png") no-repeat center center/cover;
}

/* Food Section */
#food-section::-webkit-scrollbar {
  width: 0;
  height: 0px;
  color: antiquewhite;
}

#food-section::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 30px;
  background: gray;
}

#food:hover>#food-section::-webkit-scrollbar-thumb {
  visibility: none;
}

.btn-arrow {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 1024px) {
  .btn-arrow {
    display: block;
  }
}

#food:hover .btn-arrow {
  visibility: visible;
}

/* Trial Section */
#trial {
  z-index: -2;
  background:  url(./images/deliveryfas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
}

/* SignIn Page */
.signin-page {
  background-image: url("./images/signinback1.jpg");
}

/* SignUp Page */
.signup-page {
  background-image: url("./images/signinback2.jpg");
}

.toggle {
  max-height: 100vh;
  overflow: hidden;
}

/* Food Page */

.filter__height {
  height: max-content;
}

.filter__option {
  display: block;
}

.filter__arrow {
  transform: rotate(180deg);
}

/* Forget Pass */
#otp::-webkit-outer-spin-button,
#otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp__input {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  border: 2px solid red;
  color: black;
  margin: 0 10px;
}



/* Input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}